.square {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 20%;
    padding-top: 5%;
    overflow: hidden;
    text-align: center;
    border: 15px solid black;
    background-color: #ffe8d6;
}

.content {
    position: absolute;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
    text-align: center;
    background-color: #ffe8d6;
}

img {
    width: 50%;
    height: 50%;
    border: #6b705c;
    border: 8px solid black;
    background-color: #ffe8d6;

}

h1 {
    align-items: center;
}

body {
    background-color: #cb997e;
    padding: 0% 5% 5% 5%;
}

.product-name {
    margin-bottom: 2%;
}

.product-price {
    color: blue
}

.description {
    margin-bottom: 5%;
}

/* Color Pallet
--antique-brass: #cb997eff;
--desert-sand: #ddbea9ff;
--champagne-pink: #ffe8d6ff;
--ash-gray: #b7b7a4ff;
--artichoke: #a5a58dff;
--ebony: #6b705cff;
*/