<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <form action="/generator" method="get">
        <button>Generate Fake Data</button>
    </form>
    <hr>
    <form action="/products" method="get">
        <button>View Products</button>
    </form>
    <hr>
    <form action="/shoppingcart" method="get">
        <button>View Cart</button>
    </form>
    <hr>
    <form action="/orders" method="get">
        <button>Past Orders</button>
    </form>
    <hr>
    <form action="/logout" method="get">
        <button>Logout</button>
    </form>

</body>

</html>